a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

/* header */

.head {
  width: 100vw;
  padding: 6px;
  background-color: rgb(245, 245, 124);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  margin-left: 3vw;
  font-size: 55px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logocolor {
  color: rgb(17, 17, 187);
}

.user-info {
  width: 50vw;
  display: flex;
  font-size: 25px;
  justify-content:flex-end;
  text-align: center;

 
}



  .login-out {
   width:50%;
   
  }



/* /header */


/* body */

 /* menu */
body {
  height: 100vh;
  width:100vw;
  background-color: rgb(254, 254, 213);
  overflow: scroll;
}

.menu {
  height: 70vh;
  display: flex;
  justify-content:space-around;
  align-items: center;

}

.menu-search {
  font-size: 250%;

}

.menu-post {
  font-size: 250%;

}
#btn-search{ 
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  border-radius: 100vh;
  height: 200px;
  width: 300px;
}

#btn-new{
  color :#fff;
  background-color: blue;
  border-bottom: 5px solid rgb(1, 1, 90);
  border-radius: 100vh;
  height: 200px;
  width: 300px;
}

/* /menu */


/* list search */

.search-area {
  width: 100vw;
  height: 10vh;
  margin-top: 30px;
  padding-bottom: 2%;
  display: flex;
  
}

.search-form {
  width: 80%;
  text-align: center;

}

.search-input {
  width: 80%;
}

.search-btn {
  text-align: center;
  width:20%;
}

.search-button {
  width: 80%;
}

.item-zone {
  width: 80%;
  height:60%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
  

}

.item-none {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10vh;

}

.item-none-new {
  font-size: 20px;
  text-align: center;
}

.item-none-btn {
  text-align: center;
}

.item-title {
display: flex;
width: 80%;
margin-left: 10%;
margin-right: 10%;
padding-bottom: 20px;
font-size: 25px;
border-bottom: solid black;

}

.item-name-info {
  padding-left: 20px;
  width:65%;
}

.item-genre-info {
  width: 30%;
}

.item-zone-list {
  display: flex;
  font-size: 35px;

}

.item-name-list {
  width:70%;
  margin-bottom: 15px;
  

}

.item-genre-list {

  width:30%;
  margin-bottom: 15px;
}

#item {
 color: blue;
}

/* /list search */


/* new */

.item-new-area {
  width: 90vw;
  height: 85vh;
  overflow: scroll; 
  margin:2% 0 5% 5%;  
  text-align: center;
 
}

.item-name-area {
  padding: 10px 0;
}

.item-area-area {
  padding:20px 0;
}

.item-genre-area {
  padding:10px 0;
}

.item-image-area {
  height: 100px;
  
}

.item-form-button {
  padding-top:15px;
}

.item-form-back {
text-align: end;  
  
}

.form-button {
  padding: 2%;
}

.item-name-form {
  width: 400px;
  
}

.item-area-form {
  width: 400px;
  height: 100px;
}

/* create */

.create-success {
  font-size: 30px;
  padding:50px;
  text-align: center;

}

#create {
  color: blue;
}

/* show */

.show-item {
  height: 350px;
  width:80vw;
  margin:10px 10vw 0 10vw;
  overflow: scroll;

  background-color: rgb(244, 244, 198);

}

.show-item-name {
  width:80vw;
  height:55px;
  font-size: 30px;
  padding-top: 20px;

}

.show-genre {
  height:35px;
  font-size: 20px;
  padding-top:10px;
  padding-bottom: 25px;
  display: flex;


}

.show-genre-name {
  width: 45%;
}

.show-area-info {
  height: 35px;
  padding-top: 10px;
  font-size: 20px;
}

.show-area {
  font-size: 23px;
}

.item-change {
  display: flex;
  justify-content:space-evenly;
  margin-top: 100px;

}

#edit {
  color: blue;
}

#destroy {
  color: blue;
}



.comments-area {
  width:80vw;
  height:20vh;
  margin: 10px 10vw 0 10vw;
}

.comment-box {
  width:80vw;
  height:110px;
  overflow: scroll;
  background-color:rgb(240, 250, 215);
}

.comment-form {
  text-align: center;
}

.comments {
  display: flex;
  padding-left: 50px;
  padding-top: 5px;
}

.comment-info {
  padding-top:30px;
  text-align: center;
}



/* user関連 */

.new {
  font-size: 30px;
}

.session-view {
  height:70vh;
  text-align: center;
  padding-top: 30px;
  overflow: scroll;

}

.nickname-field {
  margin-top: 20px;
}

.e-mail-field {
  margin-top: 10px;

}

.password-field {
  margin-top: 15px;
}

.password-confirmation-field {
  margin-top: 10px;
}

.action-button {
  margin-top: 50px;
}

#error_explanation {
  color: #eb6100;
  margin-top: 20px;
}


/* スマホ */
@media (max-width: 599px) {
  .logo {
    font-size: 30px;
  }
  .menu {
    margin-top: 110px;
    text-align:center;
    display:block;
  }

  .menu-post {
    margin-top: 100px;
    font-size: 200%;
  }

  .search-input {
    height: 60px;
    font-size: 20px;
 
  }

  .search-button {
    font-size: 15px;
    padding: 18px;
  }

  .item-name-info {
    width:60%;
    font-size: 20px;
  }

  .item-name-list {
    font-size: 20px;
    width:65%;
  }

  .item-genre-info {
    font-size: 20px;
    width:40%;
  }

  .item-genre-list {
    font-size: 20px;
    width:35%;
  }

  .show-item {
    height:420px;
  }

  .show-genre {
    display: block;
  }

  .show-genre-name {
    width:100%;
  }

  .show-genre-area {
    width: 100%;
  }

  .item-change {
    margin-top: 150px;
  }

  .user-info {
    font-size: 15px;
  }

}